@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #000000;
}

section[id]{
    scroll-margin-top: 280px;
}

main[id]{
    scroll-margin-top: 300px;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #ddb761 solid 3px;
    z-index: 20;
}

.logo img{
    width: 10rem;
    height: 10rem;
    margin-left: 50px;
}

.nav-menu ul{
    display: flex;
    gap: 7px;
    font-size: 20px;
    text-transform: capitalize;
    padding-right: 50px;
}

.nav-menu li{
    list-style: none;
}

.nav-menu a{
    text-decoration: none;
    color: #fff;
    transition: 0.3s linear;
}

.nav-menu a:hover{
    color: #ddb761;
    border-bottom: #ddb761 solid 1px;
    padding-bottom: 3px;
}

.menu-icon{
    width: 40px;
    height: 40px;
}

.menu-icon, #check{
    display: none;
}

main{
    width: 100%;
    margin: 200px auto 0px;
    height: 48rem;
    background-image: url(img/main2.jpg);
    background-position: center;
    background-size: cover;
}

main h1{
    padding-top: 250px;
    padding-left: 50px;
    text-transform: uppercase;
    font-size: 60px;
    color: #fff;
}

main p{
    color: #fff;
    padding: 30px 50px;
    line-height: 2em;
}

main button{
    margin-left: 50px;
    width: 150px;
    height: 40px;
    background-color: #ddb761;
    border: #fff solid 1px;
    border-radius: 10px;
}

main button a{
    text-decoration: none;
    text-transform: capitalize;
    color: #fff;
    font-size: 20px;
}

main button:hover{
    transform: translateX(25px);
    transition: 1s ease;
}

.titulos{
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    color: #fff;
    padding: 30px 0;
}

.titulo{
    color: #ddb761;
}

.nosotros{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    padding: 5px 250px;
}

.nos1{
    height: 100%;
    width: 50%;
    background-image: url(img/nosotros.jpg);
    background-position: center;
    background-size: cover;
}

.nos2{
    height: 100%;
    width: 50%;
    background-color: #110f0f;
}
.nos2 h3{
    color: #fff;
    font-size: 30px;
    text-transform: capitalize;
    padding: 20px 15px;
}

.nos2 p{
    color: #fff;
    padding: 10px;
    line-height: 25px;
}

.nos2 button{
    margin-top: 20px;
    margin-left: 50px;
    width: 150px;
    height: 40px;
    background-color: #ddb761;
    border: #fff solid 1px;
    border-radius: 10px;
}
.nos2 button a{
    text-decoration: none;
    text-transform: capitalize;
    color: #fff;
    font-size: 20px;
}
.nos2 button:hover{
    transform: translateX(25px);
    transition: 1s ease;
}

.nuestro-menu{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 700px;
    border: #ddb761 solid 1px;
    border-radius: 30px;
    margin: 5px 200px;
}

.card{
    position: relative;
    width: 300px;
    height: 350px;
    margin: 40px 70px;
}

.card div{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 20px;
    overflow: hidden;
    transition: .5s;
}

.card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #ddb761;
}

.card .front img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .back{
    transform: perspective(600px) rotateY(180deg);
    box-shadow: 0 5px 10px #ddb761;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.card .back h3{
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    padding-top: 20px;
    letter-spacing: 1px;
}

.card .back p{
    border-top: #ddb761 solid 2px;
    padding: 10px;
    color: #fff;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
}

.card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back{
    transform: perspective(600px) rotateY(360deg);
}

.productos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    min-height: 500px;
}

.productos div{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    color: #fff;
    margin: 40px;
    padding: 30px;
}

.seleccion{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #ddb761 solid 2px;
    border-radius: 20px;
}

.seleccion img{
    width: 200px;
    height: 250px;
    object-fit: cover;
    box-shadow: #ddb761  2px 2px 7px;
}

.seleccion h3{
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.seleccion button{
    background-color: #ddb761;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    transition: .5s;
    margin-top: 20px;
}

.seleccion a{
    text-decoration: none;
    font-size: 15px;
    color: #000000;
    text-transform: capitalize;
}

.seleccion button:hover{
    box-shadow: 2px 4px 7px #fff;
    background-color: #110f0f;
}

.seleccion a:hover{
    color: #fff;
    text-shadow: #ddb761 3px 3px 4px;
}

.reseña{
    width: 100%;
    min-height: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    color: #fff;
}

.reseña div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 350px;
    border: #ddb761 solid 2px;
    border-radius: 20px;
    padding: 10px;
    margin: 20px;
}

.reseña .icon{
    width: 60px;
    height: 60px;
}
.reseña p{
    font-size: 15px;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.reseña .cliente{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    transition: .7s;
}

.reseña .opinion{
    width: 150px;
    height: 30px;

}

.reseña div:hover{
    background-color: rgb(128, 126, 126);
}

.reseña .cliente:hover{
    border-radius: 20%;
    box-shadow: #000000 5px 5px 10px;
}

.contacto{
    width: 100%;
    min-height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 40px;
}

.contacto div{
    width: 50%;
    height: 400px;
    box-sizing: border-box;
    margin: 10px;
}
.contacto iframe{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contacto form{
    width: 100%;
    height: 100%;
    background-color: rgba(128, 126, 126, 0.4);
    padding: 0 70px;
}

form h3{
    text-align: center;
    color: #ddb761;
    font-size: 30px;
    padding: 10px;
}

form input, textarea{
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
}

form textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

form #boton{
    width: auto;
    background-color: #ddb761;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    transition: .5s;
    margin-top: 10px;
}

#boton:hover{
    transform: scale(1.2);
    transition: 1s ease;
    cursor: pointer;
}


footer{
    width: 100%;
    min-height: 200px;
    background-color: #110f0f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer ul{
    display: flex;
    flex-direction: row;
}

footer li{
    list-style: none;
    margin: 15px;
    transition: 2s;
}

footer a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    text-transform: capitalize;
}
footer li:hover{
    transform: rotatex(360deg);
}
.fin li{
    border: rgba(255, 255, 255, 0.4) solid 1px;
    border-radius: 10px;
    padding: 7px;
}

.fin li:hover{
    transform: none;
    background-color: #ddb761;
    cursor: pointer;
}

footer p{
    color: #fff;
    font-size: 15px;
}


@media(max-width:1240px){
    .nosotros{
        width: 100%;
        height: 800px;
        display: flex;
        flex-direction: column;
        padding: 5px 50px;
    }

    .nos1{
        height: 50%;
        width: 100%;
    }
    
    .nos2{
        height: 50%;
        width: 100%;
    }

    .nuestro-menu{
        margin: 5px 100px;
    }
}


@media(max-width:768px){
    .checkbtn{
        display: block;
    }
    .menu-icon{
        display: block;
        position: fixed;
        top: 70px;
        right: 20px;
    }
    .nav-menu ul{
        display: block;
        position: fixed;
        top: 200px;
        left: -100%;
        background-color: #000000;
        width: 100%;
        height: 100vh;
        right: 0;
        padding-right: 0;
    }
    .nav-menu ul li{
        padding: 2rem;
        display: flex;
        justify-content: center;
        margin: 0;
    }

    #check:checked ~ ul{
        left: 0;
        transition: all 0.7s;
    }

    main h1{
        padding-top: 50px;
        padding-left: 20px;
        font-size: 60px;
    }


    footer li{
        margin: 5px;
    }

    footer a{
        font-size: 15px;
    }
}

@media(max-width:640px){

    main h1{
        padding-top: 100px;
        padding-left: 30px;
        font-size: 35px;

    }
    
    main p{
        padding: 20px 30px;
        line-height: 2em;
    }

    .nosotros{
        padding: 20px;
    }

    .nos2 h3{
        font-size: 20px;
    }
    
    .nos2 p{
        line-height: 15px;
    }

    .nuestro-menu{
        margin: 20px;
    }

    .card{
        margin: 20px 10px;
    }

    .productos div{
        margin: 20px;
        padding: 10px;
    }

    .contacto{
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    
    .contacto div{
        width: 100%;
        margin: 5px;
    }

    .fin{
        display: none;
    }
}

